.logo {
    margin: 0;
}

.footer {
    position: absolute;
    height: auto !important;
    width: 100%;
    bottom: 0;
    background: $topbar-background;
    display: flex;
    justify-content: center;
    align-items: center;
}