.wrapper {
  display: flex;  
  flex-flow: row wrap;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  font-weight: bold;
  background: tomato;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  background: deepskyblue;
}

.aside-left {
  background: gold;
}

.aside-right {
  background: hotpink;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-left { order: 1; }
  .main    { order: 2; }
  .aside-right { order: 3; }
  .footer  { order: 4; }
}