/* Large */
.navigation {
  top: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin: -8px -8px -8px -8px; /* removing padding */
  justify-content: flex-end;
  background: darkgray;
}

.navigation a {
  text-decoration: none;
  display: block;
}

.active {
  background-color: #4CAF50;
}

.navigation li {
  background: darkkhaki;
  padding: 0 1em 0 1em;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}